# Vision Language Model Configuration
OPENAI_BASE_URL=http://webworkdgx/vllm_qwen2.5/v1 # Please change this to your LLM Server URL endpoint
OPENAI_VLM=Qwen2.5-VL-7B-Instruct
OPENAI_API_KEY=lm-studio
MODEL_TEMPERATURE=0.1
MODEL_MAX_TOKENS=2000
MODEL_TOP_P=0.8
MODEL_FREQ_PENALTY=0.1
MODEL_PRESENCE_PENALTY=0.1

# Context Management
MODEL_MAX_CONTEXT=4000

# Caption Optimization
ENABLE_RESPONSE_POST_PROCESSING=true