OPENAI_BASE_URL=http://webworkdgx/vllm_qwen3coder/v1 # Please change this to your LLM Server URL endpoint
OPENAI_API_KEY=lm-studio

# Large Language Model Configuration
OPENAI_MODEL=Qwen2.5-14B-Coder-Instruct
MODEL_TEMPERATURE=0.1
MODEL_MAX_TOKENS=2000
MODEL_TOP_P=0.8
MODEL_FREQ_PENALTY=0.1
MODEL_PRESENCE_PENALTY=0.1

# Metadata Management
SUMMARY_LENGTH=500
SHORT_DSECRIPTION_LENGTH=20
BATCH_SIZE=8
WORDCLOUD_MAX_WORDS=50
WORDCLOUD_MIN_WORD_LEN=2

# MinIO / S3-compatible storage
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=omnifiles
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Redis storage
REDIS_URL="redis://redis:6379/0?decode_responses=True&protocol=3"