# MinIO / S3-compatible storage
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=omnifiles
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Redis storage
REDIS_URL="redis://redis:6379/0?decode_responses=True&protocol=3"

# Service URLs
EXTRACTION_URL=http://pdf_extraction_service:8000/pdf_extraction/documents/extract
TRANSLATION_URL=http://docling_translation_service:8000/docling_translation
RENDERER_URL=http://pdf_renderer_service:8000/pdf_renderer

#External URLs
EXTERNAL_ENDPOINT="http://localhost:8080/pdf_processor"

# Timezone configuration
TZ=Asia/Singapore
